body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
li,
p,
table,
header,
footer,
main,
span {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  color: #333;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.wrapper {
  width: $contentWidth;
  margin: 0 auto;
}
